PORT=8000
PUBLIC_BASE_URL=https://helios-control.example.com
HELIOS_GITHUB_URL=https://github.com/M0nado/helios-platform
HELIOS_SHAREPOINT_URL=https://heli0s-my.sharepoint.com/personal/jmore_heli0s_onmicrosoft_com/Documents/Helios/Governance/Architecture/Integration-Fabric
HELIOS_SLACK_URL=https://helios-xk97943.slack.com/archives/C0BHWDBHG1W
HELIOS_TEAMS_URL=https://teams.microsoft.com/l/message/19%3Ad860092598794564808e4d58f87a47d4%40thread.tacv2/1784052543434?groupId=63311034-cc8f-4a5f-bb8e-459342f0575c&tenantId=349e1399-dccf-45b1-af7e-05d7b0676abf&createdTime=1784052543434&parentMessageId=1784052543434
HELIOS_LINEAR_URL=https://linear.app/641974/project/helios-integration-fabric-40e1dd9caa39
AZURE_TENANT_ID=
AZURE_SUBSCRIPTION_ID=
AZURE_CLIENT_ID=
AZURE_RESOURCE_GROUP=
AZURE_ENVIRONMENT=azure-dev
AZURE_DEPLOY_ENABLED=false
